:root {
    --cor-fundo: #FAF3EC;
    --cor-monograma: #B66F51;
    --cor-texto: #493128;
    --cor-terracota: #D09E83;
    --cor-bronze: #C69A82;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

nav {
    background-color: var(--cor-texto); /* Fundo escuro para destacar o menu */
    padding: 20px;
    text-align: center;
}

nav a {
    color: var(--cor-fundo);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--cor-terracota); /* Cor ao passar o mouse */
}
/* Layout Responsivo da Apresentação */
.bloco-apresentacao {
    display: flex;
    flex-direction: column; /* Força o formato de blocos horizontais (texto em cima, imagem embaixo) */
    align-items: center;
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto; /* Centraliza o bloco na tela */
    text-align: center;
}

.conteudo-texto h1 {
    color: var(--cor-monograma);
}

.conteudo-texto h2 {
    color: var(--cor-bronze);
}

/* Animação de Salto na Imagem */
.conteudo-imagem {
    margin-top: 30px;
    width: 100%;
    max-width: 500px; /* Limita o tamanho máximo da foto */
    border-radius: 15px; /* Bordas arredondadas */
    overflow: hidden; /* Garante que o zoom não vaze as bordas */
}

.imagem-zoom {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out; /* Define o tempo e a suavidade da animação */
}

/* O efeito ocorre no mouse (hover) ou no toque de tela (active) */
.imagem-zoom:hover, 
.imagem-zoom:active {
    transform: scale(1.04); /* Amplia a imagem em 4% criando o 'salto' */
}
